cpu_pipelined/simulation/*
cpu_pipelined/synthesis/*
cpu_pipelined/work/*
cpu_pipelined/simulation.cr.mti
cpu_pipilined/simulation.mpf
cpu_pipelined/transcript
cpu_pipelined/simulation.mpf
cpu_pipelined/vsim.wlf
cpu_test/*
cpu_pipelined/cpu_pipeline_test/*
cpu_pipelined/cpu_pipeline_test.*
cpu_pipelined/quartus/*
