//CLK Master
Net "CLK" LOC=V10 | IOSTANDARD=LVCMOS33;
Net "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

//Botones
NET "RESET" LOC = B8;
NET "RESET" CLOCK_DEDICATED_ROUTE = FALSE;
NET "KCLK" LOC = L12 | IOSTANDARD = LVCMOS33 | PULLUP;
NET "KDATA" LOC = J13 | IOSTANDARD = LVCMOS33 | PULLUP;

//NET "LED1" LOC = T11; 

//7-seg Display
//Anodos
NET "AN4[0]" LOC = N16; //AN0
NET "AN4[1]" LOC = N15; //AN1
NET "AN4[2]" LOC = P18; //AN2
NET "AN4[3]" LOC = P17; //AN3

//Catodos
NET "SEG7[6]" LOC = T17; //CA
NET "SEG7[5]" LOC = T18; //CB
NET "SEG7[4]" LOC = U17; //CB
NET "SEG7[3]" LOC = U18; //CD
NET "SEG7[2]" LOC = M14; //CE
NET "SEG7[1]" LOC = N14; //CF
NET "SEG7[0]" LOC = L14; //CG